{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "rapidpro-app",
      "image": "{{ DOCKER_IMAGE_REPO }}/rapidpro:{{ tag }}",
      "essential": true,
      "memory": 2000,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 5000
        }
      ],
      "environment": [
        {
          "name": "STATIC_DIR",
          "value": "/var/www/static"
        },
        {
            "name": "REDISHOST",
            "value": "rapidproredis"
        }
      ],
      "links": [
          "rapidproredis"
      ]
    },
    {
      "name": "rapidproredis",
      "image": "redis",
      "essential": true,
      "memory": 1000
    }
  ]
}
