{
  "AWSEBDockerrunVersion": 2,

  "volumes": [
    {
      "name": "nginx-conf",
      "host": {
        "sourcePath": "/etc/nginx"
      }
    },
    {
      "name": "static-content",
      "host": {
        "sourcePath": "/var/www/static"
      }
    }
  ],

  "containerDefinitions": [
    {
      "name": "${PROJECT_NAME}",
      "image": "${DOCKER_IMAGE_REPO}/${PROJECT_NAME}:${TAG}",
      "essential": true,
      "memory": 2048,
      "command": [ "start_prod" ],
      "mountPoints": [
      {
        "sourceVolume": "static-content",
        "containerPath": "/var/www/static",
        "readOnly": false
      }
      ],
      "environment": [
        {
          "name": "STATIC_DIR",
          "value": "/var/www/static"
        },
        {
            "name": "REDISHOST",
            "value": "${PROJECT_NAME}-redis"
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "${BEANSTALK_ENV}",
          "awslogs-region": "${AWS_REGION}",
          "awslogs-stream-prefix": "${PROJECT_NAME}"
        }
      },
      "links": [
          "${PROJECT_NAME}-redis"
      ]
    },
    {
      "name": "${PROJECT_NAME}-redis",
      "image": "redis",
      "essential": true,
      "memory": 1024,
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "${BEANSTALK_ENV}",
          "awslogs-region": "${AWS_REGION}",
          "awslogs-stream-prefix": "${PROJECT_NAME}"
        }
      }
    },
    {
      "name": "nginx",
      "image": "nginx:alpine",
      "essential": true,
      "memory": 256,
      "mountPoints": [
      {
        "sourceVolume": "nginx-conf",
        "containerPath": "/etc/nginx/conf.d/",
        "readOnly": true
      },
      {
        "sourceVolume": "static-content",
        "containerPath": "/var/www/static",
        "readOnly": true
      }
      ],
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 80
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "${BEANSTALK_ENV}",
          "awslogs-region": "${AWS_REGION}",
          "awslogs-stream-prefix": "${PROJECT_NAME}"
        }
      },
      "links": [
        "${PROJECT_NAME}"
      ]
    }
  ]
}
